h1 {
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
}

.navbar {
  padding: 20px;
  margin-bottom: 20px;
  background: #008cba;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.navbar .create {
  color: #fff;
  font-size: 1.5rem;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 2rem;
}

.navbar-brand:hover,
.create:hover {
  color: #fff;
}

.form-container {
  width: 400px;
  margin: 20px auto;
}

.note-container {
  text-align: center;
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.login-table {
  display: flex;
}

.login-sub {
  width: 50%;
  margin: 20px;
}

body {
  background-color: #1c423b94;
  font-family: "Roboto", sans-serif;
}

.container {
  /*border:1px solid white;*/
  width: 600px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
}
.backbox {
  background-color: #404040;
  width: 100%;
  height: 80%;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  display: inline-flex;
}

.frontbox {
  background-color: white;
  border-radius: 20px;
  height: 100%;
  width: 50%;
  z-index: 10;
  position: absolute;
  right: 0;
  margin-right: 3%;
  margin-left: 3%;
  transition: right 0.8s ease-in-out;
}

.moving {
  right: 45%;
}

.loginMsg,
.signupMsg {
  width: 50%;
  height: 100%;
  font-size: 15px;
  box-sizing: border-box;
}

.loginMsg .title,
.signupMsg .title {
  font-weight: 300;
  font-size: 23px;
}

.loginMsg p,
.signupMsg p {
  font-weight: 100;
}

.textcontent {
  color: white;
  margin-top: 65px;
  margin-left: 12%;
}

.loginMsg button,
.signupMsg button {
  background-color: #404040;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  box-sizing: content-box;
  font-weight: 300;
  padding: 10px;
  margin-top: 20px;
}

/* front box content*/
.login,
.signup {
  padding: 20px;
  text-align: center;
}

.login h2,
.signup h2 {
  color: #35b729;
  font-size: 22px;
}

.inputbox {
  margin-top: 30px;
}
.login input,
.signup input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 20px;
  font-size: 12px;
}

.login button,
.signup button {
  background-color: #35b729;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 300;
  box-sizing: content-box;
  padding: 10px;
  border-radius: 10px;
  width: 60px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}

/* Fade In & Out*/
.login p {
  cursor: pointer;
  color: #404040;
  font-size: 15px;
}

.loginMsg,
.signupMsg {
  /*opacity: 1;*/
  transition: opacity 0.8s ease-in-out;
}

.visibility {
  opacity: 0;
}

.hide {
  display: none;
}
